
<div class="flex w-full flex-wrap">


<div class="w-full md:w-3/4">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="../../../../../../assets/finalProject assets/finalProject assets/images/slider-image-1.jpeg" class="h-[500px]" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../../../../../assets/finalProject assets/finalProject assets/images/slider-image-3.jpeg"  class="h-[500px]" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../../../../../assets/finalProject assets/finalProject assets/images/slider-image-2.jpeg"  class="h-[500px]"  alt=""></ng-template>

  </owl-carousel-o>
</div>
<div class="w-1/4 md:block hidden">
<div>
  <img src="../../../../../../assets/finalProject assets/finalProject assets/images/slider-image-2.jpeg" class="h-[250px] w-full" alt="">
  <img src="../../../../../../assets/finalProject assets/finalProject assets/images/slider-image-3.jpeg" class="h-[250px] w-full" alt="">
</div>
</div>

