@if(errormessege){
  <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <span class="font-medium">{{errormessege}}</span>
  </div>}


<form [formGroup]="loginform" (ngSubmit)="sendData()" class="max-w-md mx-auto h-[50vh] md:h-[100vh] flex justify-center items-center p-2">
  <div class="w-full">
  <div class="relative z-0 w-full mb-5 group">
      <input  formControlName="email" type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
  </div>
  @if (loginform.get('email')?.errors && loginform.get('email')?.touched) {
    @if (loginform.get('email')?.errors?.['required']) {
  <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <span class="font-medium"> email is Reqired </span>
  </div>}@else if (loginform.get('email')?.errors?.['email']) {
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <span class="font-medium">please enter valid email</span>
    </div>
  }
  }
  <div class="relative z-0 w-full mb-5 group">
      <input  formControlName="password" type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
  </div>
   @if (loginform.get('password')?.errors && loginform.get('password')?.touched) {
    @if (loginform.get('password')?.errors?.['required']) {
  <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <span class="font-medium"> password is Reqired </span>
  </div>}@else if (loginform.get('password')?.errors?.['pattern']) {
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <span class="font-medium">please enter  password max lengt 7 T LEAST ONE CARACTER CAPITAL LIKE THISE AHMED2</span>
    </div>
  }
  }
  <div class="flex flex-wrap text-center items-center gap-3">
    <button [disabled]="callingapi" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
@if (isloadin) {
  <i class="fa-solid fa-spinner fa-spin " ></i>
}@else{log in}
    </button>
    <div class="flex flex-col w-full md:w-[80%]">
      <p>you dont have any account  <a class="uppercase font-bold text-green-500" routerLink="/regester" >regester now</a></p>
    @if(errormessege){
      <p>you dont have any account  <a class="uppercase font-bold text-red-800" routerLink="/forgetpass" >forgetpass</a></p>
    }
    </div>

  </div>
</div>
</form>
