<div class="p-10 bg-gray-100 static bottom-0 mt-5   w-full">
  <div>
    <h2 class="font-bold text-[20px] md:text-[30px]">Get the freashCART app</h2>
    <span class="mb-3 block font-normal text-[16px]"
      >we will send youa link,open it your phone to dowlwlad the app</span
    >
    <form action="">
      <div class="flex flex-wrap text-center">
        <input
          type="email"
          class="w-full border-none p-1 rounded-lg md:w-[80%] lg:w-[90%]"
          placeholder="Email"
        />
        <div class=" w-full md:w-[20%] lg:w-[10%]">
        <button class="bg-green-500 hover:bg-green-400 transition-all text-white p-2 rounded-lg ms-3 w-[200px] mx-auto mt-3">
          share app link
        </button>
      </div>
      </div>
    </form>
  </div>
  <div class="p-4 mt-6 payment flex flex-wrap justify-between">
    <ul class="flex items-center gap-3 w-full md:w-1/2 ">
      <li class="text-[12px] font-bold">payment partres</li>
      <li>
     <img src="../../../../assets/finalProject assets/finalProject assets/amazon.png" class="w-[60px]" alt="">
      </li>
      <li>
     <img src="../../../../assets/finalProject assets/finalProject assets/express.png" class="w-[60px]" alt="">
      </li>
      <li>
     <img src="../../../../assets/finalProject assets/finalProject assets/mastercart.png" class="w-[60px]" alt="">
      </li>
      <li>
     <img src="../../../../assets/finalProject assets/finalProject assets/paypall.png" class="w-[60px]" alt="">
      </li>
    </ul>
    <div class="flex items-center gap-2 w-full md:w-1/2 justify-end ">
      <h2 class="text-[12px] font-bold">getdeliveries with freash cart</h2>
      <img src="../../../../assets/finalProject assets/finalProject assets/appstore.png" class="w-[80px] object-contain" alt="">
      <img src="../../../../assets/finalProject assets/finalProject assets/googleplay.png" class="w-[100px] object-contain" alt="">
    </div>
  </div>
</div>
